<div class="wrapper-grey padded">
<div class="container">
   
  <div>
    <% if params[:query]%>
        <h2 id="index-header"></span>Search results for: "<%= params[:query] %>"</span></h2>
    <% elsif current_user.notes.empty? %>
        <h2 id="index-header"><span>Why not create your first note?!</span></h2>
    <% else %>
        <h2 id="index-header"><span>My notes </span></h2>
    <% end %>
    <span class= "index-new">
      <%= link_to new_note_path, class: "index-new-btn" do %>
        New Note <i class="fas fa-pencil-alt"></i>
      <% end %>
    </span>
  </div>

  <div class="row" style="margin: 45px">
    <div class="row" style="margin: 10px">
      <% @notes.each do |note| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('<%= cl_image_path note.photo %>')">
          <%# linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)) %>
          <div class="card-category"><i class="fas fa-map-marker-alt"></i> <%= note.location %></div>
            <div class="card-description">
              <h2><%= note.title.titleize %><p> <%= time_ago_in_words(note.created_at)%> ago</p></h2>
              <p><%= note.content[0..100] %>...<b><%= link_to "More info", note_path(note), id: "link-colour"%> </b></p>
            </div>
            <%= link_to note_path(note) do %>
              <%= cl_image_tag current_user.avatar_url, class: "card-user avatar avatar-large", radius: 20, gravity: :face %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @notes, class: "card-pagination" %>
    </div>
    </div>
  </div>

</div>
</div>