
<div class="col-xs-6 col-xs-offset-3 form">

  <h1><%= @note.title %></h1>
  <p class="lead"><%= @note.content %></p>
  <br>
  <div class="btn-group">
    <%= link_to 'Notes', notes_path, class: "btn btn-success" %> 
    <%# if you want to notes publically visible by other users %>
    <% if @note.user == current_user %>
      <%= link_to 'Edit Note', edit_note_path(@note), class: "btn btn-success"  %>
      <%= link_to 'Delete Note', note_path(@note), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-success"  %>
    <% end %>
  </div>
</div>
 

